body {
    background-color: rgb(184, 184, 184);
    font-family: 'Roboto Condensed', sans-serif;
}
.card {
    background-color: white;
    margin: 20px auto;
    width: 80%;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    height: 200px;
}
document.addEventListener('DOMContentLoaded', function(){
	const skills = document.getElementById('skills').getElementsByTagName('p');
	for (let skill of skills) {
	  let porcentagem = skill.innerHTML.slice(skill.innerHTML.indexOf(" - ")+3).replace("%","");
	  var newItem = document.createElement("div");
	  newItem.setAttribute("class", "barra");
	  newItem.setAttribute("style", `background-image: linear-gradient(to right, blue ${porcentagem}%, #333 ${100 - porcentagem}%);`);
	  skill.after(newItem);
	}
  });